<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
      <property name="hibernate.connection.password"></property>
      <property name="hibernate.default_schema">TOPOGED</property>
      <property name="hibernate.connection.username"></property>
      <property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>
      <property name="hibernate.default_entity_mode">dynamic-map</property>
      <property name="hibernate.generate_statistics">true</property>
      <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
      <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
      <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
      <property name="hibernate.use_sql_comments">false</property>
      <property name="hibernate.show_sql">true</property>
      <property name="hibernate.connection.url">jdbc:derby:/tmp/topogedDB;create=true</property>
      <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
      <property name="hibernate.hbm2ddl.auto">update</property>
      
      <mapping resource="Type.hbm.xml" />
    </session-factory>
</hibernate-configuration>
